/*<--
-->*/
ImClipDialog 
{
	qproperty-contentMargin:url(6,6,6,6);
	min-width: 705px;
}

ImClipSegmentCtrl#clip_segmentctrl::item QLabel#clip_seg_name,ImClipSegmentCtrl#clip_segmentctrl::item QLabel#clip_lb_start,ImClipSegmentCtrl#clip_segmentctrl::item QLabel#clip_lb_end{
	color:black;
	margin-left:12px;
	margin-right:10px;
}

ImClipSegmentCtrl#clip_segmentctrl::item QLabel#clip_lb_duration
{
	color:black;
	margin-left:15px;
	margin-right:12px;
}

ImSliderBar {
		margin : 0px;
		border-width : 0px;
}

ImSliderBar#clip_slider {
		background-color : transparent;
		qproperty-horiMargin : 15;
		qproperty-foreTop : 12;
		qproperty-fore : "$SKIN_DIR/../ZnO/sliderblock_h_bg.png";
		qproperty-clipForeTop : 12;
		qproperty-clipFore : "$SKIN_DIR/../ZnO/sliderblock_h_bg_gone_s.png";
		qproperty-clipForeSelected : "$SKIN_DIR/../ZnO/sliderblock_h_bg_gone_s.png";
		qproperty-clipStart : "$SKIN_DIR/../ZnO/segment_begin.png";
		qproperty-clipEnd : "$SKIN_DIR/../ZnO/segment_end.png";
		qproperty-clipTagTop : 17;
		qproperty-thumbTop : 4;
		qproperty-thumb : "$SKIN_DIR/../ZnO/thumb.png";
		qproperty-disableThumb : "$SKIN_DIR/../ZnO/thumb_d.png";
		min-height: 32px;
		max-height: 32px;
}

ImSliderBar#clip_segment_slider {
		qproperty-horiMargin : 10;
		qproperty-foreTop : 2;
		qproperty-fore : "$SKIN_DIR/../ZnO/sliderblock_h_bg.png";
		qproperty-clipForeTop : 2;
		qproperty-clipFore : "$SKIN_DIR/../ZnO/sliderblock_h_bg_gone.png";
		qproperty-clipForeSelected : "$SKIN_DIR/../ZnO/sliderblock_h_bg_gone_s.png";
		min-height: 12px;
		max-height: 12px;
}

ImClipDialog QFrame#player_toolbar{
	margin : 0px;
	padding: 0px;
	min-height: 35px;
	max-height: 35px;
}

ImClipDialog QFrame#clip_info_frame{
	margin : 0px -6px;
	padding: 0px 6px 0px 6px;
	min-height: 30px;
	max-height: 30px;
}

ImClipDialog QToolButton,ImClipDialog QToolButton:hover, ImClipDialog QToolButton:pressed, ImClipDialog QToolButton:disabled {
	border-image: url();
	padding: 0px;
	border-width: 0px;
	border-radius: 0px;
}

ImClipDialog QToolButton#clip_play,
ImClipDialog QToolButton#clip_play_all_segments,
ImClipDialog QToolButton#clip_prev_mark,
ImClipDialog QToolButton#clip_next_mark,
ImClipDialog QToolButton#clip_prev_frame,
ImClipDialog QToolButton#clip_next_frame,
ImClipDialog QToolButton#clip_start_point,
ImClipDialog QToolButton#clip_end_point,
ImClipDialog QToolButton#clip_add_clip,
ImClipDialog QToolButton#clip_video_split
{
	min-width: 31px;
	min-height: 31px;
	max-width: 31px;
	max-height: 31px;
	background-repeat: no-repeat;
	border-image: url();
	padding: 0px;
	border-width: 0px;
	border-radius: 0px;
}

ImClipDialog QToolButton#clip_play_all_segments {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_playall.png) no-repeat;
	
}
ImClipDialog QToolButton#clip_play_all_segments:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_playall_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_play_all_segments:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_playall_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_play_all_segments:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_playall_d.png) no-repeat;
}

ImClipDialog QToolButton#clip_prev_mark {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_previousm.png) no-repeat;
}
ImClipDialog QToolButton#clip_prev_mark:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_previousm_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_prev_mark:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_previousm_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_prev_mark:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_previousm_d.png) no-repeat;
}

ImClipDialog QToolButton#clip_prev_frame
{
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_prevfm.png) no-repeat;
}
ImClipDialog QToolButton#clip_prev_frame:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_prevfm_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_prev_frame:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_prevfm_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_prev_frame:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_prevfm_d.png) no-repeat;
}

ImClipDialog QToolButton#clip_next_mark {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_nextm.png) no-repeat;
}
ImClipDialog QToolButton#clip_next_mark:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_nextm_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_next_mark:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_nextm_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_next_mark:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_nextm_d.png) no-repeat;
}

ImClipDialog QToolButton#clip_next_frame{
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_nextfm.png) no-repeat;
}
ImClipDialog QToolButton#clip_next_frame:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_nextfm_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_next_frame:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_nextfm_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_next_frame:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_nextfm_d.png) no-repeat;
}

ImClipDialog QToolButton#clip_start_point {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_start.png) no-repeat;
}
ImClipDialog QToolButton#clip_start_point:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_start_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_start_point:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_start_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_start_point:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_start_d.png) no-repeat;
}

ImClipDialog QToolButton#clip_end_point {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_end.png) no-repeat;
}
ImClipDialog QToolButton#clip_end_point:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_end_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_end_point:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_end_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_end_point:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_end_d.png) no-repeat;
}

ImClipDialog QToolButton#clip_add_clip
{
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_new.png) no-repeat;
}
ImClipDialog QToolButton#clip_add_clip:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_new_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_add_clip:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_new_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_add_clip:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_previewbar_new_d.png) no-repeat;
}

/*toolbar buttons*/
ImClipDialog QPushButton#clip_moveup, ImClipDialog QPushButton#clip_movedown, ImClipDialog QPushButton#clip_new_clip, ImClipDialog QPushButton#clip_segment_delete {
	min-width: 24px;
	min-height: 24px;
	max-width: 24px;
	max-height: 24px;
	background-repeat: no-repeat;
	border: 0px solid red;
}

ImClipDialog QPushButton#clip_new_clip {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_new.png);
}
ImClipDialog QPushButton#clip_new_clip:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_new_h.png);
}
ImClipDialog QPushButton#clip_new_clip:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_new_p.png);
}
ImClipDialog QPushButton#clip_new_clip:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_new_d.png);
}

ImClipDialog QPushButton#clip_segment_delete {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_del.png);
}
ImClipDialog QPushButton#clip_segment_delete:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_del_h.png);
}
ImClipDialog QPushButton#clip_segment_delete:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_del_p.png);
}
ImClipDialog QPushButton#clip_segment_delete:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_del_d.png);
}

ImClipDialog QPushButton#clip_moveup {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_up.png);
}
ImClipDialog QPushButton#clip_moveup:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_up_h.png);
}
ImClipDialog QPushButton#clip_moveup:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_up_p.png);
}
ImClipDialog QPushButton#clip_moveup:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_up_d.png);
}

ImClipDialog QPushButton#clip_movedown {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_down.png);
}
ImClipDialog QPushButton#clip_movedown:hover {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_down_h.png);
}
ImClipDialog QPushButton#clip_movedown:pressed {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_down_p.png);
}
ImClipDialog QPushButton#clip_movedown:disabled {
	background-image: url($SKIN_DIR/../ZnO/btn_toolbar_down_d.png);
}



/*QSlider*/
ImClipDialog QSlider {
	min-width: 60px;
	max-width: 60px;
}

ImClipDialog QFrame#clip_segmentwidget_frame{
	margin: 0px;
	padding: 0px 0px 0px 6px;
	border-image: url($SKIN_DIR/../ZnO/bg_segmentlist_item.png) 1px;
	border-width: 1px;
}

ImClipDialog QFrame#clip_segmentwidget_frame:disabled{
	border-image: url($SKIN_DIR/../ZnO/bg_segmentlist_item_sel.png) 1px;
}

ImClipDialog QFrame#clip_bottom_frame{
	margin: 0px 0px 0px 0px;
}

ImClipDialog ImClipSegmentCtrl#clip_segmentctrl:item {
	min-height: 50px;
	max-height: 50px;
}
 
ImmClipPlayer QLabel#vc_preview_duration_lbl {
	margin-left: 6px;
	min-width: 163px;
}

ImmClipPlayer QFrame#clip_player_viewport {
	margin: 0px 0px 0px 0px;
}

QSplitter::handle:horizontal {
	image: url("$SKIN_DIR/../../../ZnO/splitter_handle_h.png");
	border-image: url("$SKIN_DIR/../../../ZnO/bg_splitter_h.png") 1px 1px 1px 1px;
	border-width: 1px 1px 1px 1px;
}

QSplitter::handle:vertical {
	image: url("$SKIN_DIR/../../../ZnO/splitter_handle_v.png");
	border-image: url("$SKIN_DIR/../../../ZnO/bg_splitter_v.png") 1px 1px 1px 1px;
	border-width: 1px 1px 1px 1px;
}

ImClipDialog QFrame#clip_segmentwidget_frame QTimeEdit
{
	min-height: 18px;
}

ImClipDialog QLabel#clip_segment_thumb
{
    min-width:80px;
	max-width:80px;
    min-height: 48px;
	min-height: 48px;
	margin-bottom:3px;
	margin-left:3px;
	margin-right:3px;
	padding-left:-5px;
}


QToolButton#clip_show_clip{
	border-image: url();
	padding: 0px;
	background-image: url("$SKIN_DIR/../ZnO/btn_clip_down.png");
	border: 0px;
	min-height: 24px;
	max-height: 24px;
	max-width: 24px;
	min-width: 24px;
	
}

QToolButton#clip_show_clip:hover {
	background-image: url("$SKIN_DIR/../ZnO/btn_clip_down_h.png");
}

QToolButton#clip_show_clip:pressed {
	background-image: url("$SKIN_DIR/../ZnO/btn_clip_down_p.png");
}

QToolButton#clip_show_clip:disabled {
	background-image: url("$SKIN_DIR/../ZnO/btn_clip_down_d.png");
}

QToolButton#clip_show_clip:checked {
	background-image: url("$SKIN_DIR/../ZnO/btn_clip_up.png");
}

QToolButton#clip_show_clip:checked:hover {
	background-image: url("$SKIN_DIR/../ZnO/btn_clip_up_h.png");
}

QToolButton#clip_show_clip:checked:pressed {
	background-image: url("$SKIN_DIR/../ZnO/btn_clip_up_p.png");
}

QToolButton#clip_show_clip:checked:disabled {
	background-image: url("$SKIN_DIR/../ZnO/btn_clip_up_d.png");
}


ImClipDialog QToolButton#clip_video_split
{
	background-image: url($SKIN_DIR/../ZnO/clip_video_split.png) no-repeat;
}
ImClipDialog QToolButton#clip_video_split:hover {
	background-image: url($SKIN_DIR/../ZnO/clip_video_split_h.png) no-repeat;
}
ImClipDialog QToolButton#clip_video_split:pressed {
	background-image: url($SKIN_DIR/../ZnO/clip_video_split_p.png) no-repeat;
}
ImClipDialog QToolButton#clip_video_split:disabled {
	background-image: url($SKIN_DIR/../ZnO/clip_video_split_d.png) no-repeat;
}