/*<--
-->*/

QToolButton,
QPushButton
{
	min-height: 26px;
	max-height: 26px;
}

QToolButton#saveProfileButton, 
QToolButton#browseButton£¬
QPushButton#btnPreferences,
QToolButton#openButton
{
	min-width: 88px;
	min-width: 88px;
	min-height: 26px;
	max-height: 26px;
}




ImProgressStatusBar 
{
   	
 qproperty-defaultTextDocCss: "body { color: rgb(0,0,0); }";
 min-height: 16px;
 max-height: 16px; 
}

QTreeView::item:selected:active{
    color:rgb(26,62,94);
}